.weekly-forecast-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  margin: 0;
}

.weekly-forecast-list-item {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  align-items: center;
  padding: 12px 24px;
  border-top: 4px solid var(--color-background);
}

@media (max-width: 768px) {
  .weekly-forecast-list {
    grid-template-columns: repeat(4, auto);
  }
}

.weekly-forecast-date {
  grid-column: 1;
}

.weekly-forecast-description {
  grid-column: 2;
}

.weekly-forecast-temp-max {
  grid-column: 3;
}

.weekly-forecast-temp-min {
  grid-column: 4;
}
