body {
  background-color: #131214;
  font-family: "Roboto", sans-serif;
}

body > #root {
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff14;
}
