@font-face {
  font-display: fallback;
  font-family: "meteoprogicons";
  font-style: normal;
  font-weight: normal;
  src: url("/woff/meteoprog-icons.woff");
}

[class*="icon-"]:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: "meteoprogicons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.icon-thermometer:before {
  content: "A";
}

.icon-stars:before {
  content: "B";
}

.icon-drop-down:before {
  content: "C";
}

.icon-city:before {
  content: "D";
}

.icon-sun:before {
  content: "E";
}

.icon-moon:before {
  content: "F";
}

.icon-desktop:before {
  content: "G";
}

.icon-instagram:before {
  content: "H";
}

.icon-youtube:before {
  content: "I";
}

.icon-telegram:before {
  content: "J";
}

.icon-twitter:before {
  content: "K";
}

.icon-wind:before {
  content: "L";
}

.icon-facebook:before {
  content: "M";
}

.icon-sms-failed:before {
  content: "N";
}

.icon-widgets:before {
  content: "O";
}

.icon-article:before {
  content: "P";
}

.icon-waves:before {
  content: "Q";
}

.icon-map:before {
  content: "R";
}

.icon-earth:before {
  content: "S";
}

.icon-flag:before {
  content: "T";
}

.icon-place:before {
  content: "U";
}

.icon-location:before {
  content: "V";
}

.icon-dropp:before {
  content: "W";
}

.icon-meater:before {
  content: "X";
}

.icon-uv:before {
  content: "Y";
}

.icon-star:before {
  content: "Z";
}

.icon-arrow-forward:before {
  content: "a";
}

.icon-search:before {
  content: "b";
}

.icon-people:before {
  content: "c";
}

.icon-water-rising:before {
  content: "d";
}

.icon-compas:before {
  content: "e";
}

.icon-rain-drops:before {
  content: "f";
}

.icon-arrow-back:before {
  content: "g";
}

.icon-close:before {
  content: "h";
}

.icon-dropdown:before {
  content: "i";
}

.icon-wind-right:before {
  content: "j";
}

.icon-wind-top-right:before {
  content: "k";
}

.icon-wind-top:before {
  content: "l";
}

.icon-wind-top-left:before {
  content: "m";
}

.icon-wind-left:before {
  content: "n";
}

.icon-wind-bottom-left:before {
  content: "o";
}

.icon-wind-bottom:before {
  content: "p";
}

.icon-wind-bottom-right:before {
  content: "q";
}

.icon-back:before {
  content: "r";
}

.icon-star-full:before {
  content: "s";
}

.icon-star-empty:before {
  content: "t";
}

.icon-forward:before {
  content: "u";
}

.icon-target:before {
  content: "v";
}

.icon-old-version:before {
  content: "w";
}

.icon-viber:before {
  content: "x";
}

.icon-rainfall:before {
  content: "y";
}

.icon-microphone:before {
  content: "z";
}

.icon-microphone-empty:before {
  content: "0";
}

.icon-water_drop_with_bg:before {
  content: "1";
}

.icon-settings:before {
  content: "2";
}

.icon-clock:before {
  content: "3";
}

.icon-info:before {
  content: "4";
}

.icon-raining-cloud:before {
  content: "5";
}

.icon-empty-sun:before {
  content: "6";
}

.icon-moon-cloud:before {
  content: "7";
}

.icon-tag:before {
  content: "8";
}

.icon-wikipedia:before {
  content: "9";
}

.icon-arrow-right-top:before {
  content: "!";
}

.icon-translate:before {
  content: '"';
}

.icon-NO2:before {
  content: ":";
}

.icon-SO2:before {
  content: ";";
}

.icon-particles:before {
  content: "<";
}

.icon-particles-simetrik:before {
  content: "=";
}

.icon-brackets:before {
  content: ">";
}

.icon-terminal:before {
  content: "#";
}

.icon-air-quality:before {
  content: "$";
}

.icon-mail:before {
  content: "%";
}

.icon-trash-can:before {
  content: "&";
}

.icon-step-select:before {
  content: "'";
}

.icon-language:before {
  content: "(";
}

.icon-drop-crossed:before {
  content: ")";
}

.icon-code-brackets:before {
  content: "*";
}

.icon-dropdown-arrow:before {
  content: "+";
}

@font-face {
  font-display: fallback;
  font-family: "qwerty";
  font-style: normal;
  font-weight: normal;
  src: url("/woff/weather-icon-pack-1.woff") format("woff");
}

[class*="icon-f"]:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: "qwerty";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.icon-feels-like:before {
  content: "\e900";
}
