@import "tailwindcss";
@config "../tailwind.config.ts";

body {
  background-color: var(--color-background);
  font-family: "Roboto", sans-serif;
}

body > #root {
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ffffff14;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

:root {
  --color-primary: #b5a1e2;
  --color-on-primary: #100e17;
  --color-background: #ffffff;
  --color-on-background: #000000;
  --color-surface: #f9f9f9;
  --color-on-surface: #000000;
}

.dark {
  --color-primary: #b5a1e2;
  --color-on-primary: #100e17;
  --color-background: #131214;
  --color-on-background: #eae6f2;
  --color-surface: #1d1c1f;
  --color-on-surface: #dddae5;
}

main {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr) auto;
  grid-template-areas:
    "a a b b b b"
    "a a b b b b"
    "a a c c c c"
    "a a c c c c"
    "d d d d d d";
}

@media (max-width: 1000px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "a a"
      "b b"
      "c c"
      "d d";
  }
}

.current-weather-section {
  grid-area: a;
}

.astronomy-section {
  grid-area: b;
}

.air-quality-section {
  grid-area: c;
}

.weekly-forecast-section {
  grid-area: d;
}
