@import "tailwindcss";

@theme {
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);

  --color-accent: var(--color-accent);
  --color-on-accent: var(--color-on-accent);

  --color-border: var(--color-border);

  --color-sun: #ffd600;
  --color-moon: #aec0d8;

  --color-good-air: #a2d043;
  --color-satisfactory-air: #f8cc4a;
  --color-harmful-air: #f19342;
  --color-unhealthy-air: #d85f38;
  --color-bad-air: #903c70;

  --height-height-app: calc(100vh - 72px);
}

html {
  scrollbar-gutter: stable;
}

body {
  background-color: var(--color-background);
  font-family: "Roboto", sans-serif;
}

body > #root {
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ffffff14;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
}

:root {
  --color-background: #f0f2f5;
  --color-surface: #ffffff;

  --color-primary: #1d1c1f;
  --color-secondary: #65676b;

  --color-accent: #a78bfa;
  --color-on-accent: #ffffff;
}

.dark {
  --color-background: #0f0e11;
  --color-surface: #1d1c1f;

  --color-primary: #dddae5;
  --color-secondary: #9da3ae;

  --color-accent: #b5a1e2;
  --color-on-accent: #0f0e11;
}

main {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "a a"
    "b b"
    "c c"
    "d d";
}

@media (min-width: 1024px) {
  main {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "a a b b b b"
      "a a b b b b"
      "a a c c c c"
      "a a c c c c"
      "d d d d d d";
  }
}

.current-weather-section {
  grid-area: a;
}

.astronomy-section {
  grid-area: b;
}

.air-quality-section {
  grid-area: c;
}

.weekly-forecast-section {
  grid-area: d;
}
